.favorites-container {
  width: 100%;
  color: #faf8fc;
  font-size: 10px;
}
.favorites-title {
  margin-top: 10px;
  text-align: center;
}
.favorites-cards {
  margin-top: 20px;
  min-width: 20%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .favorites-container {
    font-size: 16px;
  }
}
