.favorites-container {
  background: #2b2b2a;
  height: 90vh;
  width: 100%;
  color: #faf8fc;
  font-size: 10px;
}
.favorites-title {
  margin-top: 10px;
  text-align: center;
}
.favorites-cards {
  justify-content: space-around;
  display: flex;
}
@media screen and (min-width: 600px) {
  .favorites-container {
    font-size: 16px;
  }
}
