.forecasts-container {
  border-radius: 2px;
  padding: 0 10px;
  height: 300px;
  background: #faf8fc;
  color: black;
  cursor: pointer;
  margin-top: 50px;
  border: 1px solid white;
}
.forecasts-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.forecasts-menu-close {
  margin: 1px 5px;
}

.forecasts-menu-city {
  display: flex;
  width: 60%;
  justify-content: center;
}
.forecasts-menu-city-temp {
  display: flex;
}
.forecasts-menu-city-temp p {
  margin: 0 2px;
}
.active {
  color: #aac4ee;
}

.forecasts-menu-favorite {
  margin: 1px 5px;
}
.is-favorite {
  color: #f7284d;
}
.forecasts {
  display: flex;
  justify-content: space-around;
}
.forecasts-body {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.forecasts-body p {
  padding: 0 2px;
}
.forecasts-body-card {
  font-size: 10px;
  width: 20%;
  color: #bababa;
  border: 1px solid #e9e9e9;
  background: #fcfcfc;
  border-radius: 1px;
  padding: 1px;
  margin: 2px 2px;
  text-align: center;
}

.forecasts-body-card p {
  margin: 0;
}
.forecasts-body-card-temp {
  margin: 1px;
}
.forecasts-body-card-temp p {
  margin: 1px 1px;
}
.forecasts-body-card-max {
  color: #878787;
}
@media screen and (min-width: 600px) {
  .forecasts-body-card {
    font-size: 16px;
  }
  .forecasts-body-card-temp {
    display: flex;
    justify-content: center;
  }
  .forecasts-body-card-temp p {
    padding: 0 2px;
  }
}
