.forecasts-container {
  border-radius: 2px;
  padding: 0 10px;
  height: 300px;
  background: #faf8fc;
  color: black;
  cursor: pointer;
  margin-top: 50px;
  border: 1px solid white;
}
.forecasts-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}
.forecasts-menu-close {
  margin: 1px 5px;
}

.forecasts-menu-city {
  display: flex;
  width: 60%;
  justify-content: center;
}
.forecasts-menu-city-temp {
  display: flex;
}
.forecasts-menu-city-temp p {
  margin: 0 2px;
}
.active {
  color: #aac4ee;
}

.forecasts-menu-favorite {
  margin: 1px 5px;
}
.is-favorite {
  color: #f7284d;
}
.forecasts {
  display: flex;
  justify-content: space-around;
}
.forecasts-body {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.forecasts-body p {
  padding: 0 2px;
}
